{% load static %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'bookquistapp/style.css' %}">

<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

<div class="col-logo">
    <img src="{% static 'images/bookquist_logo.png' %}" srcset="{% static 'images/bookquist_logo.png' %} 2x" width="150px" alt="bookquist_logo">
</div>