{% include "bookquistapp/app_base.html" %}

<div class="col col-header">
    <h4>Employee book reco</h4>
</div>

<div class="col">
    {% for eo in employee_list %}
        <div class="col">
            <p>Employee name: {{ eo.employee_firstname }}&nbsp;{{ eo.employee_lastname }}</p>
            <p>Employee self-perception text: {{ eo.employee_selfperception_text }}</p>
            <p>Employee book reco for {{ eo.employee_firstname }}: "Code Complete" by Steve McConnell</p>
        </div>

        <a class="btn btn-outline-primary" href="../../../employeedetail/{{ eo.pk }}/">Back to Detail page for {{ eo.employee_firstname }}&nbsp;{{ eo.employee_lastname }}</a>
    {% endfor %}
</div>

{% include "bookquistapp/app_js.html" %}