{% include "bookquistapp/app_base.html" %}

<div class="col col-header">
    <h4>Employee detail</h4>
</div>

<div class="col">
    {% for eo in employee_list %}
        <div class="col">
            <p>Employee name: {{ eo.employee_firstname }}&nbsp;{{ eo.employee_lastname }}</p>
            <p>Employee self-perception text: {{ eo.employee_selfperception_text }}</p>
        </div>

        <a href="../../employeedetail/{{ eo.pk }}/">Detail (self-link) for {{ eo.employee_firstname }}&nbsp;{{ eo.employee_lastname }}</a>
    {% endfor %}
</div>

{% include "bookquistapp/app_js.html" %}